* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}


#hero {
    height: 800px;
    width: 100%;
    /* background-color: rgb(206, 230, 225); */
}

/* .hero_seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
} */

h1 {
    font-size: 4rem;
}

.foto-hero {
    height: 80vh;
    width: auto;
}

#cajas {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    gap: 10px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;

}

.caja-1 {
    height: 100vh;
    border-radius: 15px;
    background-color: rgb(41, 207, 207);
    transition: all 0.3s ease-in-out;
}

.caja-1:hover {
    transform: translateY(-70px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.caja-2 {
    height: 100vh;
    border-radius: 15px;
    background-color: rgb(95, 137, 228);
    transition: all 0.3s ease-in-out;
}

.caja-2:hover {
    transform: translateY(-70px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.caja-3 {
    height: 100vh;
    border-radius: 15px;
    background-color: rgb(85, 85, 207);
    transition: all 0.3s ease-in-out;
}

.caja-3:hover {
    transform: translateY(-70px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.caja-4 {
    height: 100vh;
    border-radius: 15px;
    background-color: rgb(65, 74, 155);
    transition: all 0.3s ease-in-out;
}

.caja-4:hover {
    transform: translateY(-70px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-card {
    margin-left: 100px;
    margin-right: 100px;
}

.card-title-projects {
    text-align: center;
    margin-bottom: 2rem;
}

/* .cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
} */

.card {
    margin: 0px;
}

.card img {
    height: 15rem;
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}












#trabajo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    /* margin: 80px 80px; */
    gap: 50px;
    margin-top: 100px;
    background-color: rgb(206, 230, 225);
    padding: 60px;
}

#trabajo div {
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}